@font-face {
    font-family: 'MyFont';
    src: url('../font/Inter-Bold.ttf') format('truetype');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*, *::after, ::before{
    box-sizing: inherit;
}
body{
    font-size: 16px;
    font-family: 'MyFont', sans-serif;
    background-color: blanchedalmond;
    width: 100%;
    height: 100%;
}

/*  */
.header{
    background-color: rgb(131, 131, 131);
}

.exit{
    display: flex;
    justify-content: flex-end;
    gap: 100px;
    padding-right: 30px;
}
.exit-menu{
    text-align: center;
    padding: 10px 60px;
}
/* header */
.menu{
    
    padding: 10px 0;
}
.menu-list{
    display: flex;
    justify-content: center;
}
.gross{

    display: flex;
    gap: 80px;
    
}
li{
    list-style-type: none;
}
a{
    display: block;
    text-decoration: none;
    font-weight: 700;
    color: white;
    margin-top: 15px;
    font-size: 40px;
}
.menu-link2{
    color: rgb(255, 0, 0);
}
.menu-burger{
    display: none;
    margin-top: 20px;
}
.line{
    width: 40px;
    margin-bottom: 10px;
    
}
/* ///////////////////////////// */
.container{
    max-width: 1300px;
    margin: 0 auto;
}
.content{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    height: 100vh; 
    
}
/* center column */
.box-center{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .5fr 2fr .5fr;
}
.box-center-center{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    text-align: center;
}
.btn9-sp{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-column-gap: 10px;
}
.btn-poz{
    padding: 8px 14px;
    background-color: blueviolet;
}

/* box-top center column */
.box-top{
    margin-top: 30px;
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}
.res-gora{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: blue;
    
}
/* box-bottom center column */
.box-bottom{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 30px;
    text-align: center;
    font-size: 60px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    color: black;
}
/* box left */
.box-left{
    display: grid;
    grid-template-rows: auto;
    text-align: center;
    margin-top: 30px;
    font-size: 70px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}
#btn1, #btn2, #btn3, #btn4,
#btn5, #btn6, #btn7, #btn8{
    padding: 6px 30px;
    border: 3px solid rgba(0, 200, 50, 1);
    border-radius: 15px;
    background-color: blueviolet;
}
.active{
    background-color: red;
}
.btn9{
    padding: 5px 10px;
}
input{
    width: 100px;
    height: 40px;
    font-size: 30px;
    
}
/* box right */
.box-right{
    display: grid;
    grid-template-rows: auto;
    text-align: center;
    margin-top: 30px;
    font-size: 70px; 
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}
.red{
    color: red;
}
.green{
    color: green;
}
.rozw{
    text-align: center;
    padding: 20px;
    height: 150px;
    border-style: solid;
    border-width: 5px;
    border-color: red;
}
.kr-zaw{
    margin: 20px 0;
    padding: 10px 20px;
}
/* calculator */
.title-calc{
    margin-top: 20px;
    font-family: 'MyFontLink', sans-serif;
    text-align: center;
    font-size: 50px;
}
.calc{
    max-width: 380px;
    margin: 0 auto;
    border: 25px solid rgb(182, 177, 197);
    border-radius: 10px;
    margin-bottom: 30px;
    font-size: 40px;
    background-color: rgb(90, 90, 102);
}
.calc-res{
    width: 100%;
    height: 60px;
    border-bottom: 5px solid red;
    text-align: end;
    background-color: white;
    color: rgb(10, 10, 10);
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 8px;
}
.calc-box-btn{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    padding: 0 4px;
    /* background-color: rgb(245, 255, 209); */
}
.btn-calc,
.btn-digit{
    height: 70px; 
    font-size: 40px; 
    border-radius: 50%;
}
@media(max-width: 800px){
    .gross{
        display: none;
    }
    .menu-burger{
        display: block;
    }
    .menu-list{
        display: flex;
        justify-content: space-evenly;
    }
    .box-right{
        font-size: 30px;
    }
    .box-left{
        font-size:30px;
    }
    .box-top{
        font-size:20px;
    }
    .box-bottom{
        font-size:20px;
    }
    #btn3{
        margin-bottom: 10px;
    }
    .btn9-sp{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr 1fr;
        row-gap: 10px;
    }
}
.box-dialog{
    width: 90%;
    margin: 0 auto;

}
.close-dialog{
    font-size: 30px;
    margin-top: 20px;
    display: block;
    margin: 0 auto;
    padding: 10px 30px;
    border: 0;
    border-radius: 10px;
}
dialog{
    position: absolute;
    width: 400px;
    padding: 20px;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 40%;
    border: 0;
    border-radius: 20px;
}
#info-dialog{
    width: 400px;
    margin-bottom: 20px;
    font-size: 30px;
}
.modal::backdrop{
    background-color: red;
    
}
