*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*, *::after, ::before{
    box-sizing: inherit;
}
body{
    font-size: 16px;
    font-family: 'Inter', serif;
    overflow: hidden;
}
.red{
    color: red;
    font-weight: 700;
}
.blue{
    color: blue;
    font-weight: 700;
}
.green{
    color: green;
    font-weight: 700;
}
.yellow{
    color: yellow;
    font-weight: 700;
}
.brown{
    color: brown;
    font-weight: 700;
}
.container{
    max-width: 1300px;
    margin: 0 auto;
}
.header{
    background-color: rgb(131, 131, 131);
}
.one{
    height: 100vh;
    
}
.exit{
    display: flex;
    justify-content: flex-end;
    gap: 100px;
    padding-right: 30px;
}
.exit-menu{
    text-align: center;
    padding: 10px 60px;
}
/* header */
.menu{
    
    padding: 10px 0;
}
.menu-list{
    display: flex;
    justify-content: center;
}
.gross{

    display: flex;
    gap: 80px;
    
}
li{
    list-style-type: none;
}
a{
    display: block;
    text-decoration: none;
    font-weight: 700;
    color: white;
    margin-top: 15px;
    font-size: 40px;
}
.menu-link2{
    color: red;
}
.menu-burger{
    display: none;
    margin-top: 20px;
}
.line{
    width: 40px;
    margin-bottom: 10px;
    
}
/* ############# */
.data{
    width: 300px;
}
.name-program{
    font-size: 50px;
}
.box-typ-input{
    display: flex;
    justify-content: space-around;
    margin-left: 40px;
}
.box-typ-okna{
    margin-left: 100px;
}
.select{
    font-size: 24px;
    color: blue;

}
.box-button{
    margin: 50px 0 30px;
}
.my-button{
    padding: 8px 30px;
    margin: 0 15px;
    font-size: 24px;
}
.button-position{
    position: absolute;
    bottom: 80px;
    right: 0;
}
input{
    display: block;
    margin-top: 30px;
    width: 100px;
    height: 40px;
    font-size: 30px;
    padding: 5px;
    border-color: rgb(255, 153, 0);
    border-width: 5px;
}
input::placeholder{
    font-size: 16px;
    color: rgb(51, 0, 255);
}
.name-program{
    margin: 30px 0 40px;
}
.title{
    text-align: center;
}
label{
    font-size: 24px;
    display: block;
    max-width: 600px;
    margin: 0 auto;
    padding-top: 30px;
}
.custom-check{
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    padding-left: 40px;
}
.check-style{
    position: absolute;
    width: 16px;
    height: 16px;
    border: 2px solid rgb(131, 131, 131);
    margin-left: -40px;
    margin-top: 4px;
}
.custom-check:checked + .check-style::before{
    content: "";
    width: 16px;
    height: 16px;
    background-color: rgb(255, 0, 8);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* @@@@@@@@@@@@@@@@@ */

.modal{
    padding: 100px 80px;
    background-color: rgb(253, 200, 130);
    position: absolute;
    top: 200px;
    margin-left: 300px;
}
.title-dialog{
    color: red;
    font-size: 30px;
    margin-bottom: 50px;
}
.close-btn{
    width: 100%;
    padding: 15px 0;
    background-color: #151515;
    color: white;
    border-radius: 12px;
    border-color: yellow;
    border-width: 5px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    font-size: 30px;
    letter-spacing: 4px;
}
.my-program1{
    padding-right: 30px;
    background-color: rgb(223, 226, 226);
    position: relative;
    border: 3px solid rgb(255, 0, 8);
    height: 100vh
    
    
}
.title-window{
    font-size: 48px;
    margin: 20px 0 10px;
    text-align: center;
    color: blue;
}
.title-res{
    font-size: 24px;
    text-align: center;
    color: rgba(17, 17, 17);
}
.title-typ-window{
    margin-left: 20px;
}
.box-res-x-rozwierne{
    display: flex;
    justify-content: space-between;
}
.box-res{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.res-rozw-jedn{
    font-size: 70px;
}
.informacja{
    display: flex;
    gap: 10px;
    margin-left: 30px;
}
.my-program2{
    padding-right: 30px;
    position: relative;
    height: 100vh;
    border: 2px solid rgb(93, 0, 255);
}
.my-program3{
    padding-right: 30px;
    position: relative;
    height: 100vh;
    border: 6px solid rgb(0, 255, 106);
}
.my-program4{
    padding-right: 30px;
    position: relative;
    height: 100vh;
    border: 4px solid rgb(255, 166, 0);
}

@media(max-width:800px){
    .gross{
        display: none;
    }
    .menu-burger{
        display: block;
    }
    .menu-list{
        display: flex;
        justify-content: space-evenly;
    }
    .data{
        display: none;
    }
}