*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*, *::after, ::before{
    box-sizing: inherit;
}
body{
    font-size: 16px;
    font-family: 'Inter', serif;
}
/*  */
.header{
    background-color: rgb(131, 131, 131);
}

.exit{
    display: flex;
    justify-content: flex-end;
    gap: 100px;
    padding-right: 30px;
}
.exit-menu{
    text-align: center;
    padding: 10px 60px;
}
/* header */
.menu{
    
    padding: 10px 0;
}
.menu-list{
    display: flex;
    justify-content: center;
}
.gross{

    display: flex;
    gap: 80px;
    
}
li{
    list-style-type: none;
}
a{
    display: block;
    text-decoration: none;
    font-weight: 700;
    color: white;
    margin-top: 15px;
    font-size: 40px;
}
.menu-link4{
    color: rgb(255, 0, 0);
}
.menu-burger{
    display: none;
    margin-top: 20px;
}
.line{
    width: 40px;
    margin-bottom: 10px;
    
}
.div1{
    height: 300px;
    background-color:red;
}
.div2{
    height: 300px;
    background-color:green ;
}
.div3{
    height: 300px;
    background-color:black ;
}